.home {
    text-align: center;
  }
  
  
  
  

  header > ul {
    list-style-type: none;
  }
  
  header > ul > li {
    display: inline;
    padding: 10px;
  }
  
  li > a {
    text-decoration: none;
    color: white;
  }
  li > a:hover {
    text-decoration: underline;
  }
  
  .community-image{
    margin-top: 10px;
    width: 500px;
  }
  
  .main-body{
    padding-top: 100px;
    padding-bottom: 100px;
  }


  
@media only screen and (max-width: 600px) {
  .community-image{
    margin-top: 10px;
    width: 100%;
  }
}