.App {
  text-align: center;
}

body{
  background: #008080b0;
}

header{
  position: fixed;
  text-align: center;
  width: 100vw;
  background-color: #464646;
  min-height: 50px;
  top: 0;
}

header > ul {
  list-style-type: none;
}

header > ul > li {
  display: inline;
  padding: 10px;
}

li > a {
  text-decoration: none;
  color: white;
}
li > a:hover {
  text-decoration: underline;
}

.community{
  padding-top: 100px;
}
.community-image{
  margin-top: 50px;
  width: 500px;
}

.main-body{
  padding-top: 100px;
  padding-bottom: 100px;
}

.mobile-only{
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop-only{
    display: none;
  }

  .mobile-only{
    display: block;
  }

  .mobile-only > li {
    display: block;
    padding: 0px;
  }

  ul.mobile-only{
    width: 100%;
    padding: 0px;
  }

}